:root {
    --cyber-red: #f75049;
    --cyber-cyan: #5ef6ff;
    --cyber-white: #ffffff;
    --cyber-darkest-blue: #0e0e17;
    --cyber-grey: #d6d0d0;
    --cyber-mint: #1ded83;
    --cyber-blue: #2570d4;
    --cyber-violet-purple: #9d2bf5;
    --cyber-orange: #f8932e;
    --cyber-yellow: #f0b537;
}
