:root {
    --cyber-red: #f75049;
    --cyber-cyan: #5ef6ff;
    --cyber-white: #ffffff;
    --cyber-darkest-blue: #0e0e17;
    --cyber-grey: #d6d0d0;
    --cyber-mint: #1ded83;
    --cyber-blue: #2570d4;
    --cyber-violet-purple: #9d2bf5;
    --cyber-orange: #f8932e;
    --cyber-yellow: #f0b537;
}
@font-face {
    font-family: 'Rajdhani-Light';
    src: url('./Fonts/rajdhani/Rajdhani-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Rajdhani-Regular';
    src: url('./Fonts/rajdhani/Rajdhani-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani-Medium';
    src: url('./Fonts/rajdhani/Rajdhani-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Rajdhani-SemiBold';
    src: url('./Fonts/rajdhani/Rajdhani-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Rajdhani-Bold';
    src: url('./Fonts/rajdhani/Rajdhani-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Orbitron';
    src: url('./Fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: var(--cyber-darkest-blue);
}
header{
    height: 20%;
    border: 2px solid var(--cyber-red);
}
h1{
    font-family: 'Rajdhani-Bold';
    size: 2rem;
}
